@use "variables" as *;
@mixin button($btn-color-primary, $color-text) {
    color: $color-text;
    background-color: $btn-color-primary;
    padding: 0.25rem 1rem;
    font-family: monospace, sans-serif;
    font-weight: 700;
    border-radius: 8px;
    transition: 0.3s ease;
    box-shadow: 0 0 2px 2px rgba(black, 0.2);
    cursor: pointer;
    &:hover {
        background-color: #1ac3ee;
    }
    &:active {
        background-color: white;
    }
}