@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
#pop-up,
#pop-up-delete {
    @include popup(greenyellow);
}

#pop-up-delete {
    @include popup(rgb(255, 106, 0));
    color: white;
}

#pop-up.visible,
#pop-up-delete.visible {
    opacity: 1;
    right: 2vh;
    visibility: visible;
    animation: popupAnimation 2s ease infinite;
}

@media screen and (max-width: 768px) {
    #pop-up,
    #pop-up-delete {
        font-size: 0.9em;
        width: 30%;
    }
}

@media screen and (max-width: 370px) {
    #pop-up,
    #pop-up-delete {
        width: 30%;
    }
}